In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [7]:
financial = pd.read_csv('../data/690079960_T_F41SCHEDULE_B11.csv')

In [8]:
financial

,CASH,PROP_EQUIP_OWNED,PROP_EQUIP,ASSETS,LONG_TERM_DEBT,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,YEAR,QUARTER,Unnamed: 14
0,87.50,6255.80,1836.65,2141.26,NaN,20201,AMQ,Ameristar Air Cargo,AMQ,Ameristar Air Cargo,6815,S,2020,2,NaN
1,1180.92,290.47,32.46,1741.58,0.00,21754,2PQ,21 Air LLC,2PQ,21 Air LLC,1207,S,2020,2,NaN
2,1420.70,364.37,78.15,4559.43,292.75,21402,PM,"Prescott Support Company, Inc.",PM,"Prescott Support Company, Inc.",1154,S,2020,2,NaN
3,2113.30,211.62,119.12,3842.67,2879.48,21854,34Q,"Polaris Aviation Solutions, LLC",34Q,"Polaris Aviation Solutions, LLC",1223,D,2020,2,NaN
4,4669.72,402.82,316.47,7842.39,0.00,21875,37Q,"Hillwood Airways, LLC f/k/a ATX Air Service...",37Q,"Hillwood Airways, LLC f/k/a ATX Air Service...",1225,S,2020,2,NaN
5,7936.32,13150.69,8342.21,17457.02,NaN,19998,SI,Sierra Pacific Airlines,SI,Sierra Pacific Airlines,6798,D,2020,2,NaN
6,7983.43,11877.59,2773.31,22638.01,1730.10,21518,1EQ,"KaiserAir, Inc.",1EQ,"KaiserAir, Inc.",1162,D,2020,2,NaN

In [9]:
financial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CASH                   7 non-null      float64
 1   PROP_EQUIP_OWNED       7 non-null      float64
 2   PROP_EQUIP             7 non-null      float64
 3   ASSETS                 7 non-null      float64
 4   LONG_TERM_DEBT         5 non-null      float64
 5   AIRLINE_ID             7 non-null      int64
 6   UNIQUE_CARRIER         7 non-null      object
 7   UNIQUE_CARRIER_NAME    7 non-null      object
 8   CARRIER                7 non-null      object
 9   CARRIER_NAME           7 non-null      object
 10  UNIQUE_CARRIER_ENTITY  7 non-null      int64
 11  REGION                 7 non-null      object
 12  YEAR                   7 non-null      int64
 13  QUARTER                7 non-null      int64
 14  Unnamed: 14            0 non-null      float64
dtypes: float64(6), int64(4), object(5)
memory usage: 968.0+ bytes

In [10]:
airline = pd.read_csv('../data/690079960_T_T100D_MARKET_ALL_CARRIER.csv')

In [11]:
airline

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 36
0,0.0,0.0,0.0,104.0,YX,20452,Republic Airline,06003,D,YX,...,FL,12,Florida,33,2020,1,1,1,F,NaN
1,0.0,0.0,0.0,77.0,YX,20452,Republic Airline,06003,D,YX,...,FL,12,Florida,33,2020,1,1,1,F,NaN
2,0.0,0.0,0.0,30.0,YX,20452,Republic Airline,06003,D,YX,...,SC,45,South Carolina,37,2020,1,1,1,F,NaN
3,0.0,0.0,0.0,228.0,YX,20452,Republic Airline,06003,D,YX,...,IA,19,Iowa,61,2020,1,1,1,F,NaN
4,0.0,0.0,0.0,466.0,YX,20452,Republic Airline,06003,D,YX,...,IL,17,Illinois,41,2020,1,1,1,F,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86373,72962.0,557005.0,0.0,100.0,HA,19690,Hawaiian Airlines Inc.,05375,D,HA,...,HI,15,Hawaii,2,2020,1,1,1,F,NaN
86374,84608.0,53043.0,48706.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,FL,12,Florida,33,2020,1,2,1,F,NaN
86375,85349.0,102062.0,11010.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,GA,13,Georgia,34,2020,1,2,1,F,NaN
86376,86715.0,78459.0,69237.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,FL,12,Florida,33,2020,1,1,1,F,NaN
86377,91173.0,95116.0,24689.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,GA,13,Georgia,34,2020,1,1,1,F,NaN

In [12]:
airline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86378 entries, 0 to 86377
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PASSENGERS             86378 non-null  float64
 1   FREIGHT                86378 non-null  float64
 2   MAIL                   86378 non-null  float64
 3   DISTANCE               86378 non-null  float64
 4   UNIQUE_CARRIER         86378 non-null  object
 5   AIRLINE_ID             86378 non-null  int64
 6   UNIQUE_CARRIER_NAME    86378 non-null  object
 7   UNIQUE_CARRIER_ENTITY  86378 non-null  object
 8   REGION                 86378 non-null  object
 9   CARRIER                86378 non-null  object
 10  CARRIER_NAME           86378 non-null  object
 11  CARRIER_GROUP          86378 non-null  int64
 12  CARRIER_GROUP_NEW      86378 non-null  int64
 13  ORIGIN_AIRPORT_ID      86378 non-null  int64
 14  ORIGIN_AIRPORT_SEQ_ID  86378 non-null  int64
 15  ORIGIN_CITY_MARKET_ID  86378 non-null  int64
 16  ORIGIN                 86378 non-null  object
 17  ORIGIN_CITY_NAME       86378 non-null  object
 18  ORIGIN_STATE_ABR       86378 non-null  object
 19  ORIGIN_STATE_FIPS      86378 non-null  int64
 20  ORIGIN_STATE_NM        86378 non-null  object
 21  ORIGIN_WAC             86378 non-null  int64
 22  DEST_AIRPORT_ID        86378 non-null  int64
 23  DEST_AIRPORT_SEQ_ID    86378 non-null  int64
 24  DEST_CITY_MARKET_ID    86378 non-null  int64
 25  DEST                   86378 non-null  object
 26  DEST_CITY_NAME         86378 non-null  object
 27  DEST_STATE_ABR         86378 non-null  object
 28  DEST_STATE_FIPS        86378 non-null  int64
 29  DEST_STATE_NM          86378 non-null  object
 30  DEST_WAC               86378 non-null  int64
 31  YEAR                   86378 non-null  int64
 32  QUARTER                86378 non-null  int64
 33  MONTH                  86378 non-null  int64
 34  DISTANCE_GROUP         86378 non-null  int64
 35  CLASS                  86378 non-null  object
 36  Unnamed: 36            0 non-null      float64
dtypes: float64(5), int64(17), object(15)
memory usage: 24.4+ MB

In [19]:
traffic_2020 = pd.read_csv('../data/2020/690079960_T_T100D_MARKET_US_CARRIER_ONLY.csv')

In [24]:
traffic_2020

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 36
0,0.0,3441.0,23433.0,101.0,L2,20169,Lynden Air Cargo Airlines,06699,D,L2,...,AK,2,Alaska,1,2020,1,1,1,G,NaN
1,0.0,7129.0,0.0,442.0,L2,20169,Lynden Air Cargo Airlines,06699,D,L2,...,AK,2,Alaska,1,2020,1,1,1,G,NaN
2,0.0,0.0,0.0,405.0,L2,20169,Lynden Air Cargo Airlines,06699,D,L2,...,AK,2,Alaska,1,2020,1,1,1,G,NaN
3,0.0,48702.0,2948.0,399.0,L2,20169,Lynden Air Cargo Airlines,06699,D,L2,...,AK,2,Alaska,1,2020,1,1,1,G,NaN
4,0.0,8606.0,0.0,204.0,L2,20169,Lynden Air Cargo Airlines,06699,D,L2,...,AK,2,Alaska,1,2020,1,1,1,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128537,72962.0,557005.0,0.0,100.0,HA,19690,Hawaiian Airlines Inc.,05375,D,HA,...,HI,15,Hawaii,2,2020,1,1,1,F,NaN
128538,84608.0,53043.0,48706.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,FL,12,Florida,33,2020,1,2,1,F,NaN
128539,85349.0,102062.0,11010.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,GA,13,Georgia,34,2020,1,2,1,F,NaN
128540,86715.0,78459.0,69237.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,FL,12,Florida,33,2020,1,1,1,F,NaN
128541,91173.0,95116.0,24689.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,GA,13,Georgia,34,2020,1,1,1,F,NaN

In [25]:
traffic_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128542 entries, 0 to 128541
Data columns (total 37 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   PASSENGERS             128542 non-null  float64
 1   FREIGHT                128542 non-null  float64
 2   MAIL                   128542 non-null  float64
 3   DISTANCE               128542 non-null  float64
 4   UNIQUE_CARRIER         128542 non-null  object
 5   AIRLINE_ID             128542 non-null  int64
 6   UNIQUE_CARRIER_NAME    128542 non-null  object
 7   UNIQUE_CARRIER_ENTITY  128542 non-null  object
 8   REGION                 128542 non-null  object
 9   CARRIER                128542 non-null  object
 10  CARRIER_NAME           128542 non-null  object
 11  CARRIER_GROUP          128542 non-null  int64
 12  CARRIER_GROUP_NEW      128542 non-null  int64
 13  ORIGIN_AIRPORT_ID      128542 non-null  int64
 14  ORIGIN_AIRPORT_SEQ_ID  128542 non-null  int64
 15  ORIGIN_CITY_MARKET_ID  128542 non-null  int64
 16  ORIGIN                 128542 non-null  object
 17  ORIGIN_CITY_NAME       128542 non-null  object
 18  ORIGIN_STATE_ABR       128542 non-null  object
 19  ORIGIN_STATE_FIPS      128542 non-null  int64
 20  ORIGIN_STATE_NM        128542 non-null  object
 21  ORIGIN_WAC             128542 non-null  int64
 22  DEST_AIRPORT_ID        128542 non-null  int64
 23  DEST_AIRPORT_SEQ_ID    128542 non-null  int64
 24  DEST_CITY_MARKET_ID    128542 non-null  int64
 25  DEST                   128542 non-null  object
 26  DEST_CITY_NAME         128542 non-null  object
 27  DEST_STATE_ABR         128542 non-null  object
 28  DEST_STATE_FIPS        128542 non-null  int64
 29  DEST_STATE_NM          128542 non-null  object
 30  DEST_WAC               128542 non-null  int64
 31  YEAR                   128542 non-null  int64
 32  QUARTER                128542 non-null  int64
 33  MONTH                  128542 non-null  int64
 34  DISTANCE_GROUP         128542 non-null  int64
 35  CLASS                  128542 non-null  object
 36  Unnamed: 36            0 non-null       float64
dtypes: float64(5), int64(17), object(15)
memory usage: 36.3+ MB

In [22]:
traffic_2019 = pd.read_csv('../data/2019/690079960_T_T100D_MARKET_US_CARRIER_ONLY.csv')

In [23]:
traffic_2019

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 36
0,0.0,34255.0,0.0,160.0,EM,20263,Empire Airlines Inc.,06299,D,EM,...,CO,8,Colorado,82,2019,1,3,1,G,NaN
1,0.0,78135.0,0.0,149.0,EM,20263,Empire Airlines Inc.,06299,D,EM,...,NM,35,New Mexico,86,2019,1,3,1,G,NaN
2,0.0,139580.0,0.0,321.0,EM,20263,Empire Airlines Inc.,06299,D,EM,...,KS,20,Kansas,62,2019,1,3,1,G,NaN
3,0.0,212614.0,0.0,264.0,EM,20263,Empire Airlines Inc.,06299,D,EM,...,TX,48,Texas,74,2019,1,3,1,G,NaN
4,0.0,133799.0,0.0,294.0,EM,20263,Empire Airlines Inc.,06299,D,EM,...,TX,48,Texas,74,2019,1,3,1,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251545,96984.0,505308.0,15979.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,WA,53,Washington,93,2019,3,7,3,F,NaN
251546,97011.0,473666.0,55963.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,AK,2,Alaska,1,2019,2,6,3,F,NaN
251547,97098.0,592775.0,18834.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,WA,53,Washington,93,2019,3,8,3,F,NaN
251548,97329.0,210292.0,5431.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,GA,13,Georgia,34,2019,1,3,1,F,NaN
251549,97644.0,390399.0,44506.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,AK,2,Alaska,1,2019,3,7,3,F,NaN

In [26]:
traffic_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251550 entries, 0 to 251549
Data columns (total 37 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   PASSENGERS             251550 non-null  float64
 1   FREIGHT                251550 non-null  float64
 2   MAIL                   251550 non-null  float64
 3   DISTANCE               251550 non-null  float64
 4   UNIQUE_CARRIER         251550 non-null  object
 5   AIRLINE_ID             251550 non-null  int64
 6   UNIQUE_CARRIER_NAME    251550 non-null  object
 7   UNIQUE_CARRIER_ENTITY  251550 non-null  object
 8   REGION                 251550 non-null  object
 9   CARRIER                251550 non-null  object
 10  CARRIER_NAME           251550 non-null  object
 11  CARRIER_GROUP          251550 non-null  int64
 12  CARRIER_GROUP_NEW      251550 non-null  int64
 13  ORIGIN_AIRPORT_ID      251550 non-null  int64
 14  ORIGIN_AIRPORT_SEQ_ID  251550 non-null  int64
 15  ORIGIN_CITY_MARKET_ID  251550 non-null  int64
 16  ORIGIN                 251550 non-null  object
 17  ORIGIN_CITY_NAME       251550 non-null  object
 18  ORIGIN_STATE_ABR       251550 non-null  object
 19  ORIGIN_STATE_FIPS      251550 non-null  int64
 20  ORIGIN_STATE_NM        251550 non-null  object
 21  ORIGIN_WAC             251550 non-null  int64
 22  DEST_AIRPORT_ID        251550 non-null  int64
 23  DEST_AIRPORT_SEQ_ID    251550 non-null  int64
 24  DEST_CITY_MARKET_ID    251550 non-null  int64
 25  DEST                   251550 non-null  object
 26  DEST_CITY_NAME         251550 non-null  object
 27  DEST_STATE_ABR         251550 non-null  object
 28  DEST_STATE_FIPS        251550 non-null  int64
 29  DEST_STATE_NM          251550 non-null  object
 30  DEST_WAC               251550 non-null  int64
 31  YEAR                   251550 non-null  int64
 32  QUARTER                251550 non-null  int64
 33  MONTH                  251550 non-null  int64
 34  DISTANCE_GROUP         251550 non-null  int64
 35  CLASS                  251550 non-null  object
 36  Unnamed: 36            0 non-null       float64
dtypes: float64(5), int64(17), object(15)
memory usage: 71.0+ MB

In [27]:
employees_2020 = pd.read_csv('../data/690079960_T_F41SCHEDULE_P1A_EMP.csv')

In [28]:
employees_2020

,YEAR,MONTH,AIRLINE_ID,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,EMPFULL,EMPPART,EMPTOTAL,EMPFTE,Unnamed: 13
0,2020,4,21161,09Q,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",09Q,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",2,2,563,29,592,578,NaN
1,2020,4,21352,0WQ,Avjet Corporation,0WQ,Avjet Corporation,1,1,160,0,160,160,NaN
2,2020,4,21492,1BQ,"Eastern Airlines f/k/a Dynamic Airways, LLC",1BQ,"Eastern Airlines f/k/a Dynamic Airways, LLC",1,1,146,0,146,146,NaN
3,2020,4,21518,1EQ,"KaiserAir, Inc.",1EQ,"KaiserAir, Inc.",1,4,39,29,68,54,NaN
4,2020,4,21577,1TQ,Rhoades Aviation dba Transair,1TQ,Rhoades Aviation dba Transair,1,1,136,33,169,153,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,2020,9,19393,WN,Southwest Airlines Co.,WN,Southwest Airlines Co.,3,3,56834,2194,59028,57931,NaN
513,2020,9,20377,X9,Omni Air International LLC,X9,Omni Air International LLC,2,2,1187,2,1189,1188,NaN
514,2020,9,20207,XP,XTRA Airways,XP,XTRA Airways,1,4,26,8,34,30,NaN
515,2020,9,20378,YV,Mesa Airlines Inc.,YV,Mesa Airlines Inc.,2,2,2920,13,2933,2927,NaN
516,2020,9,20452,YX,Republic Airline,YX,Republic Airline,3,3,5708,299,6007,5858,NaN

In [29]:
employees_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   YEAR                 517 non-null    int64
 1   MONTH                517 non-null    int64
 2   AIRLINE_ID           517 non-null    int64
 3   UNIQUE_CARRIER       517 non-null    object
 4   UNIQUE_CARRIER_NAME  517 non-null    object
 5   CARRIER              517 non-null    object
 6   CARRIER_NAME         517 non-null    object
 7   CARRIER_GROUP        517 non-null    int64
 8   CARRIER_GROUP_NEW    517 non-null    int64
 9   EMPFULL              517 non-null    int64
 10  EMPPART              517 non-null    int64
 11  EMPTOTAL             517 non-null    int64
 12  EMPFTE               517 non-null    int64
 13  Unnamed: 13          0 non-null      float64
dtypes: float64(1), int64(9), object(4)
memory usage: 56.7+ KB

In [30]:
trans_states_2020 = employees_2020[employees_2020['CARRIER'] == 'AX']

In [31]:
trans_states_2020

Empty DataFrame
Columns: [YEAR, MONTH, AIRLINE_ID, UNIQUE_CARRIER, UNIQUE_CARRIER_NAME, CARRIER, CARRIER_NAME, CARRIER_GROUP, CARRIER_GROUP_NEW, EMPFULL, EMPPART, EMPTOTAL, EMPFTE, Unnamed: 13]
Index: []